[flake8]
select = ANN,B,B9,BLK,C,D,DAR,E,F,I,S,W
max-complexity = 10
ignore = ANN101,E203,E501,W503
max-line-length = 80
application-import-names = pygohome,tests
import-order-style = google
per-file-ignores = tests/*:S101
